<div>
    <div id="home-banner-1" class="bg-red-600">
        <div class="flex-col">
            <h1>Lorem ipsum dolor sit amet consectetur. Amet maecenas sociis egestas.</div>
        <div></div>
        <p>Lorem ipsum dolor sit amet consectetur. Amet adipiscing dignissim facilisis ultricies vulputate. Pellentesque
            cras aenean aliquet eu aliquam pharetra</p>
        <div>
            <button>See Detail</button>
        </div>
    </div>

    <div id="home-banner-2" class="flex">
        <div class="flex-auto">
            <h4>REDMINDERS</h4>
            <h4>DAILY QUOTES</h4>
            <div>
                <div>image</div>
                <div>image</div>
            </div>
        </div>
        <div class="flex-auto">
            <div>image</div>
        </div>
    </div>

    <div id="home-banner-3" class="bg-red-600">
        <div>
            <h4>Facing Challenges</h4>
            <h4>Affirmation</h4>
        </div>
        <h3>Never be afraid of something good, but you may gain something even better.</h3>
        <div class="flex">
            <div>Likes</div>
            <div>Share</div>
        </div>
    </div>

    <div id="home-letters">
        <div></div>
    </div>

    <div id="home-faq" class="bg-red-600">
        <h2>Frequently asked Questions</h2>
        <h2>Lorem ipsum dolor sit amet consectetur. Diam est massa purus adipiscing a justo.</h2>
    </div>
</div>

{% schema %}
{
  "name": "main index",
  "settings": []
}
{% endschema %}
