<div>
    <div id="home-banner-1" class="bg-brand flex flex-col justify-center items-center min-h-[891px]">
        <div class="container text-white max-w-[1269px] sm:px-[24px]">
            <div class="flex flex-col gap-[75px]">
                <h1 class="m-0 text-[96px] text-white leading-[115.2px] font-bold">Lorem ipsum dolor sit amet
                    consectetur. Amet
                    maecenas sociis egestas.</h1>
                <div class="flex gap-[65px] justify-center items-center">
                    <div class="w-[468px]">
                        <hr aria-orientation="horizontal" class="border-1 border-white"/>
                    </div>
                    <p class="text-[18px] leading-[32px] flex-auto">
                        Lorem ipsum dolor sit amet consectetur. Amet adipiscing dignissim facilisis ultricies
                        vulputate.
                        Pellentesque
                        cras aenean aliquet eu aliquam pharetra
                    </p>
                </div>
            </div>
            <div>
                <button class="btn-primary">See Detail</button>
            </div>
        </div>
    </div>

    <div id="home-banner-2" class="bg-white min-h-[804px] flex justify-center">
        <div class="container max-w-[1269px] flex">
            <div class="flex flex-col justify-center items-center flex-1 gap-[20px]">
                <img src="https://cdn.shopify.com/s/files/1/0784/5661/9345/files/REDMINDERS_black.png?v=1721393599"
                     alt="" class="w-[390px]">
                <h4 class="line-clamp-[92.22px] text-[51.43px]">DAILY QUOTES</h4>
                <div class="flex gap-[20px]">
                    <a href="http://redminde.rs/app-apple">
                        <image src="https://cdn.shopify.com/s/files/1/0784/5661/9345/files/app-store.png?v=1721387900"
                               class="max-w-[187.82px]" loading="lazy"></image>
                    </a>
                    <a href="http://redminde.rs/app-google">
                        <image src="https://cdn.shopify.com/s/files/1/0784/5661/9345/files/google-play.png?v=1721387900"
                               class="max-w-[186.43px]" loading="lazy"></image>
                    </a>
                </div>
            </div>
            <div>
                <hr aria-orientation="vertical" class="border-l border-solid border-black h-full m-0">
            </div>
            <div class="flex-1 relative justify-center items-center flex">
                <image src="https://cdn.shopify.com/s/files/1/0784/5661/9345/files/EN_-_Home.png?v=1721386888"
                       class="w-[333.45px]" loading="lazy"></image>
                <image src="https://cdn.shopify.com/s/files/1/0784/5661/9345/files/notification-app.png?v=1721388885"
                       class="w-[491.33px] absolute top-[280px]" loading="lazy"></image>
            </div>
        </div>
    </div>

    <div id="home-banner-3" class="bg-brand flex flex-col justify-center items-center min-h-[700px]">
        <div class="container max-w-[1269px] flex-col flex gap-[143px]  justify-center items-center">
            <div class="flex items-center flex-col gap-[15px]">
                <h4 class="text-white font-semibold text-[24px] line-clamp-[28px]">Facing Challenges</h4>
                <h4 class="text-white font-medium text-[16px] uppercase line-clamp-[24.48]">Affirmation</h4>
            </div>
            <h2 class="text-white max-w-[1075px] text-center font-bold text-[40px] line-clamp-[61.2px]">Never be afraid
                of
                something good, but you may gain something even better.</h2>
            <div class="flex gap-[32px]">
                <button class="btn-outline btn-icon">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M27.5007 5C32.5633 5 36.6673 9.16667 36.6673 15C36.6673 26.6667 24.1673 33.3333 20.0007 35.8333C15.834 33.3333 3.33398 26.6667 3.33398 15C3.33398 9.16667 7.50065 5 12.5007 5C15.6006 5 18.334 6.66667 20.0007 8.33333C21.6673 6.66667 24.4007 5 27.5007 5ZM21.5571 31.0063C23.0265 30.0808 24.3507 29.1592 25.5922 28.1715C30.5568 24.2217 33.334 19.9058 33.334 15C33.334 11.0679 30.7723 8.33333 27.5007 8.33333C25.7075 8.33333 23.7661 9.28185 22.3577 10.6904L20.0007 13.0474L17.6437 10.6904C16.2351 9.28185 14.2938 8.33333 12.5007 8.33333C9.26575 8.33333 6.66732 11.0942 6.66732 15C6.66732 19.9058 9.44443 24.2217 14.4092 28.1715C15.6507 29.1592 16.9748 30.0808 18.4442 31.0063C18.9417 31.3198 19.4358 31.6215 20.0007 31.9587C20.5655 31.6215 21.0597 31.3198 21.5571 31.0063Z"
                              fill="white"/>
                    </svg>
                    <span>
                    <span class="font-extrabold">11k</span>
                    Likes
                    </span>
                </button>
                <div>
                    <hr class="divider-vertical border-l-white h-[40px]">
                </div>
                <button class="btn-outline btn-icon">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.6667 23.3334H18.3333C12.57 23.3334 7.56588 26.5837 5.05398 31.3512C5.01822 30.9056 5 30.4549 5 30.0001C5 20.7954 12.4619 13.3334 21.6667 13.3334V4.16675L39.1667 18.3334L21.6667 32.5001V23.3334ZM18.3333 20.0001H25V25.5131L33.869 18.3334L25 11.1538V16.6667H21.6667C17.6325 16.6667 14.0169 18.4582 11.5719 21.2892C13.6812 20.4524 15.9674 20.0001 18.3333 20.0001Z"
                              fill="white"/>
                    </svg>
                    Share
                </button>
            </div>
        </div>
    </div>

    <div id="home-letters" class="bg-white flex flex-col justify-center items-center min-h-[993px]">
        <div class="container max-w-[1269px] flex-col flex justify-center gap-[48px]">
            <div class="flex justify-center">
                <h3 class="font-bold line-clamp-[56px] text-[40px] uppercase">Letters</h3>
            </div>
            <div class="grid grid-cols-3 gap-[24px]">
                <div class="relative h-[465px] bg-no-repeat bg-center bg-cover"
                     style="background-image: url('https://cdn.shopify.com/s/files/1/0784/5661/9345/files/1.png?v=1727187166')">
                    <div class="absolute p-[11px] bg-white min-w-[200px] uppercase text-[18px] line-clamp-[32px] text-center">
                        Guides
                    </div>
                    <div class="absolute bottom-0 bg-brand p-[24px] text-white text-[18px] line-clamp-[32px] font-bold">
                        5 signs that you're not right for each other anymore/you've grown apart
                    </div>
                </div>
                <div class="relative h-[465px] bg-no-repeat bg-center bg-cover"
                     style="background-image: url('https://cdn.shopify.com/s/files/1/0784/5661/9345/files/3.png?v=1727187164')">
                    <div class="absolute p-[11px] bg-white min-w-[200px] uppercase text-[18px] line-clamp-[32px] text-center">
                        Guides
                    </div>
                    <div class="absolute bottom-0 bg-brand p-[24px] text-white text-[18px] line-clamp-[32px] font-bold">
                        5 signs that you're not right for each other anymore/you've grown apart
                    </div>
                </div>
                <div class="relative h-[465px] bg-no-repeat bg-center bg-cover"
                     style="background-image: url('https://cdn.shopify.com/s/files/1/0784/5661/9345/files/2.png?v=1727187164')">
                    <div class="absolute p-[11px] bg-white min-w-[200px] uppercase text-[18px] line-clamp-[32px] text-center">
                        Guides
                    </div>
                    <div class="absolute bottom-0 bg-brand p-[24px] text-white text-[18px] line-clamp-[32px] font-bold">
                        5 signs that you're not right for each other anymore/you've grown apart
                    </div>
                </div>
            </div>
            <div class="flex justify-center">
                <button class="btn-secondary border-black">See All</button>
            </div>
        </div>
    </div>

    <div id="home-faq" class="bg-red-600">
        <h2>Frequently asked Questions</h2>
        <h2>Lorem ipsum dolor sit amet consectetur. Diam est massa purus adipiscing a justo.</h2>
    </div>
</div>

{% schema %}
{
  "name": "main index",
  "settings": []
}
{% endschema %}
