<div>
  <div id="home-banner-1" class="bg-brand flex flex-col justify-center items-center min-h-[800px] md:min-h-[891px]">
    <div class="container text-white md:max-w-[1269px] px-[24px] md:p-0">
      <div class="flex flex-col gap-[32px] md:gap-[75px]">
        <h1 class="m-0 md:text-[96px] text-[40px] text-white leading-[48px] md:leading-[115.2px] font-bold">
          Lorem ipsum dolor sit amet consectetur. Amet maecenas sociis egestas.
        </h1>
        <div class="flex flex-col md:flex-row gap-[32px] md:gap-[65px] justify-center items-center">
          <div class="w-full md:w-[468px]">
            <hr aria-orientation="horizontal" class="border-1 border-white">
          </div>
          <p class="text-[14px] md:text-[18px] leading-[24px] md:leading-[32px] flex-auto">
            Lorem ipsum dolor sit amet consectetur. Amet adipiscing dignissim facilisis ultricies vulputate.
            Pellentesque cras aenean aliquet eu aliquam pharetra
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-[32px] pt-[56px] md:pt-0">
        <div class="flex md:hidden gap-[16px]">
          <button class="btn-tertiary flex-1">Affirmation</button>
          <button class="btn-tertiary flex-1">Motivation</button>
        </div>
        <button class="btn-primary w-full md:max-w-[229px]">See Detail</button>
      </div>
    </div>
  </div>

  <div id="home-banner-2" class="bg-white min-h-[800px] md:min-h-[804px] flex justify-center">
    <div class="container max-w-[1269px] flex flex-col md:flex-row px-[24px] md:p-0 justify-center">
      <div class="flex flex-col justify-center items-center md:flex-1 gap-[20px]">
        <img
          src="https://cdn.shopify.com/s/files/1/0784/5661/9345/files/REDMINDERS_black.png?v=1721393599"
          alt=""
          class="w-[244px] md:w-[390px]"
        >
        <h4 class="md:line-clamp-[92.22px] text-[24px] md:text-[51.43px]">DAILY QUOTES</h4>
        <div class="hidden md:flex gap-[20px]">
          <a href="http://redminde.rs/app-apple">
            <image
              src="https://cdn.shopify.com/s/files/1/0784/5661/9345/files/app-store.png?v=1721387900"
              class="max-w-[187.82px]"
              loading="lazy"
            ></image>
          </a>
          <a href="http://redminde.rs/app-google">
            <image
              src="https://cdn.shopify.com/s/files/1/0784/5661/9345/files/google-play.png?v=1721387900"
              class="max-w-[186.43px]"
              loading="lazy"
            ></image>
          </a>
        </div>
      </div>
      <div class="hidden md:flex">
        <hr aria-orientation="vertical" class="border-l border-solid border-black h-full m-0">
      </div>
      <div class="md:flex-1 relative justify-center items-center flex pt-[39.21px] md:pt-0">
        <image
          src="https://cdn.shopify.com/s/files/1/0784/5661/9345/files/EN_-_Home.png?v=1721386888"
          class="w-[233.92px] md:w-[333.45px]"
          loading="lazy"
        ></image>
        <image
          src="https://cdn.shopify.com/s/files/1/0784/5661/9345/files/notification-app.png?v=1721388885"
          class="w-[334.67px] md:w-[491.33px] absolute top-[176px] md:top-[280px]"
          loading="lazy"
        ></image>
      </div>
      <div class="flex md:hidden gap-[15.41px]">
        <a href="http://redminde.rs/app-apple">
          <image
            src="https://cdn.shopify.com/s/files/1/0784/5661/9345/files/app-store.png?v=1721387900"
            class="flex-1"
            loading="lazy"
          ></image>
        </a>
        <a href="http://redminde.rs/app-google">
          <image
            src="https://cdn.shopify.com/s/files/1/0784/5661/9345/files/google-play.png?v=1721387900"
            class="flex-1"
            loading="lazy"
          ></image>
        </a>
      </div>
    </div>
  </div>

  <div id="home-banner-3" class="bg-brand flex flex-col justify-center items-center min-h-[700px]">
    <div class="container max-w-[1269px] flex-col flex gap-[143px]  justify-center items-center">
      <div class="flex items-center flex-col gap-[15px]">
        <h4 class="text-white font-semibold text-[24px] line-clamp-[28px]">Facing Challenges</h4>
        <h4 class="text-white font-medium text-[16px] uppercase line-clamp-[24.48]">Affirmation</h4>
      </div>
      <h2 class="text-white max-w-[1075px] text-center font-bold text-[40px] line-clamp-[61.2px]">
        Never be afraid of something good, but you may gain something even better.
      </h2>
      <div class="flex gap-[32px]">
        <button class="btn-outline btn-icon">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M27.5007 5C32.5633 5 36.6673 9.16667 36.6673 15C36.6673 26.6667 24.1673 33.3333 20.0007 35.8333C15.834 33.3333 3.33398 26.6667 3.33398 15C3.33398 9.16667 7.50065 5 12.5007 5C15.6006 5 18.334 6.66667 20.0007 8.33333C21.6673 6.66667 24.4007 5 27.5007 5ZM21.5571 31.0063C23.0265 30.0808 24.3507 29.1592 25.5922 28.1715C30.5568 24.2217 33.334 19.9058 33.334 15C33.334 11.0679 30.7723 8.33333 27.5007 8.33333C25.7075 8.33333 23.7661 9.28185 22.3577 10.6904L20.0007 13.0474L17.6437 10.6904C16.2351 9.28185 14.2938 8.33333 12.5007 8.33333C9.26575 8.33333 6.66732 11.0942 6.66732 15C6.66732 19.9058 9.44443 24.2217 14.4092 28.1715C15.6507 29.1592 16.9748 30.0808 18.4442 31.0063C18.9417 31.3198 19.4358 31.6215 20.0007 31.9587C20.5655 31.6215 21.0597 31.3198 21.5571 31.0063Z"
                  fill="white"/>
          </svg>
          <span>
            <span class="font-extrabold">11k</span>
            Likes
          </span>
        </button>
        <div>
          <hr class="divider-vertical border-l-white h-[40px]">
        </div>
        <button class="btn-outline btn-icon">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.6667 23.3334H18.3333C12.57 23.3334 7.56588 26.5837 5.05398 31.3512C5.01822 30.9056 5 30.4549 5 30.0001C5 20.7954 12.4619 13.3334 21.6667 13.3334V4.16675L39.1667 18.3334L21.6667 32.5001V23.3334ZM18.3333 20.0001H25V25.5131L33.869 18.3334L25 11.1538V16.6667H21.6667C17.6325 16.6667 14.0169 18.4582 11.5719 21.2892C13.6812 20.4524 15.9674 20.0001 18.3333 20.0001Z"
                  fill="white"/>
          </svg>
          Share
        </button>
      </div>
    </div>
  </div>

  <div id="home-letters" class="bg-white flex flex-col justify-center items-center min-h-[993px]">
    <div class="container max-w-[1269px] flex-col flex justify-center gap-[48px]">
      <div class="flex justify-center">
        <h3 class="font-bold line-clamp-[56px] text-[40px] uppercase">Letters</h3>
      </div>
      <div class="grid md:grid-cols-3 gap-[24px]">
        <div
          class="relative h-[465px] bg-no-repeat bg-center bg-cover"
          style="background-image: url('https://cdn.shopify.com/s/files/1/0784/5661/9345/files/1.png?v=1727187166')"
        >
          <div class="absolute p-[11px] bg-white min-w-[200px] uppercase text-[18px] line-clamp-[32px] text-center">
            Guides
          </div>
          <div class="absolute bottom-0 bg-brand p-[24px] text-white text-[18px] line-clamp-[32px] font-bold">
            5 signs that you're not right for each other anymore/you've grown apart
          </div>
        </div>
        <div
          class="relative h-[465px] bg-no-repeat bg-center bg-cover"
          style="background-image: url('https://cdn.shopify.com/s/files/1/0784/5661/9345/files/3.png?v=1727187164')"
        >
          <div class="absolute p-[11px] bg-white min-w-[200px] uppercase text-[18px] line-clamp-[32px] text-center">
            Guides
          </div>
          <div class="absolute bottom-0 bg-brand p-[24px] text-white text-[18px] line-clamp-[32px] font-bold">
            5 signs that you're not right for each other anymore/you've grown apart
          </div>
        </div>
        <div
          class="relative h-[465px] bg-no-repeat bg-center bg-cover"
          style="background-image: url('https://cdn.shopify.com/s/files/1/0784/5661/9345/files/2.png?v=1727187164')"
        >
          <div class="absolute p-[11px] bg-white min-w-[200px] uppercase text-[18px] line-clamp-[32px] text-center">
            Guides
          </div>
          <div class="absolute bottom-0 bg-brand p-[24px] text-white text-[18px] line-clamp-[32px] font-bold">
            5 signs that you're not right for each other anymore/you've grown apart
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <button class="btn-secondary border-black">See All</button>
      </div>
    </div>
  </div>

  <div id="home-faq" class="bg-brand flex flex-col justify-center items-center min-h-[997px]">
    <div class="container max-w-[1030px]">
      <h2>Frequently asked Questions</h2>
      <h2>Lorem ipsum dolor sit amet consectetur. Diam est massa purus adipiscing a justo.</h2>
    </div>
  </div>

  <div id="contact-us" class="bg-white flex flex-col justify-center items-center min-h-[978px]">
    <div class="container max-w-[1030px] flex-col flex gap-[59px]">
      <div class="flex gap-[24px]">
        <div class="flex-1">
          <h2>Contact Us</h2>
        </div>
        <div class="flex-1">
          <p>Lorem ipsum dolor sit amet consectetur. Diam est massa purus adipiscing a justo scelerisque</p>
        </div>
      </div>
      <div class="flex flex-col gap-[24px]">
        <div class="flex gap-[24px]">
          <label class="flex-1">
            <input type="text" placeholder="First Name">
          </label>
          <label class="flex-1">
            <input type="text" placeholder="Last Name">
          </label>
        </div>
        <div class="flex gap-[24px]">
          <label class="flex-1">
            <input type="text" placeholder="Email">
          </label>
          <label class="flex-1">
            <input type="text" placeholder="Phone Number">
          </label>
        </div>
        <div class="flex gap-[24px]">
          <label class="flex-1">
            <textarea class="w-full" placeholder="Message"></textarea>
          </label>
        </div>
        <div>
          <button class="">Send</button>
        </div>
      </div>
    </div>
  </div>

  <footer class="bg-brand flex flex-col justify-center items-center min-h-[847px]">
    <div class="container text-white">
      <div class="flex flex-col items-center">
        <svg width="264" height="27" viewBox="0 0 264 27" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 26.0477V0.437153H11.3418C19.4274 0.437153 22.7202 2.9982 22.7202 9.10814C22.7202 13.3522 21.0738 15.84 17.3786 16.9742L23.4885 26.0477H16.7566L11.3418 17.7425L9.95151 17.7791H5.81724V26.0477H0ZM11.6345 5.7056H5.81724V13.2424H11.6345C15.2931 13.2424 16.6834 12.1448 16.6834 9.474C16.6834 6.80319 15.2931 5.7056 11.6345 5.7056Z"
                fill="white"/>
          <path d="M47.9631 0.437153V5.66901H33.3285V10.6082H46.9387V15.5839H33.3285V20.8158H48.2192V26.0477H27.5113V0.437153H47.9631Z"
                fill="white"/>
          <path d="M52.8074 26.0477V0.437153H63.4906C70.8811 0.290807 77.2837 6.10805 77.1373 13.279C77.2837 20.3768 70.8811 26.194 63.4906 26.0477H52.8074ZM63.2711 5.63243H58.6246V20.8158H63.2711C65.4663 20.8158 67.3322 20.0841 68.8688 18.6572C70.4054 17.1937 71.1738 15.401 71.1738 13.2424C71.1738 11.0838 70.4054 9.29107 68.8688 7.82761C67.3322 6.36415 65.4663 5.63243 63.2711 5.63243Z"
                fill="white"/>
          <path d="M113.088 0.437153V26.0477H107.344V8.19348L98.6362 22.8646H96.6239L87.8798 8.19348V26.0477H82.1723V0.437153H89.8188L97.6117 13.4253L105.441 0.437153H113.088Z"
                fill="white"/>
          <path d="M124.973 0.437153V26.0477H119.156V0.437153H124.973Z" fill="white"/>
          <path d="M154.579 0.437153V26.0477H148.505L136.578 9.94963V26.0477H130.834V0.437153H136.908L148.871 16.5352V0.437153H154.579Z"
                fill="white"/>
          <path d="M160.351 26.0477V0.437153H171.035C178.425 0.290807 184.828 6.10805 184.681 13.279C184.828 20.3768 178.425 26.194 171.035 26.0477H160.351ZM170.815 5.63243H166.169V20.8158H170.815C173.01 20.8158 174.876 20.0841 176.413 18.6572C177.95 17.1937 178.718 15.401 178.718 13.2424C178.718 11.0838 177.95 9.29107 176.413 7.82761C174.876 6.36415 173.01 5.63243 170.815 5.63243Z"
                fill="white"/>
          <path d="M210.351 0.437153V5.66901H195.717V10.6082H209.327V15.5839H195.717V20.8158H210.607V26.0477H189.899V0.437153H210.351Z"
                fill="white"/>
          <path d="M215.195 26.0477V0.437153H226.537C234.623 0.437153 237.916 2.9982 237.916 9.10814C237.916 13.3522 236.269 15.84 232.574 16.9742L238.684 26.0477H231.952L226.537 17.7425L225.147 17.7791H221.013V26.0477H215.195ZM226.83 5.7056H221.013V13.2424H226.83C230.489 13.2424 231.879 12.1448 231.879 9.474C231.879 6.80319 230.489 5.7056 226.83 5.7056Z"
                fill="white"/>
          <path d="M252.658 0.0712891C256.756 0.0712891 260.341 1.02254 263.415 2.88845L260.963 7.38857C258.183 5.88853 254.707 4.97387 252.036 4.97387C250.024 5.01046 248.634 5.81536 248.634 7.42516C248.634 7.97396 248.926 8.44958 249.548 8.77886C250.17 9.10814 251.524 9.54717 253.609 10.096L256.134 10.8277C257.414 11.157 259.317 11.8155 260.305 12.3643C261.293 12.9131 262.5 13.7546 263.049 14.6693C263.598 15.5839 264 16.8279 264 18.2913C264 23.5232 259.902 26.4135 253.463 26.4135C248.743 26.4135 244.682 25.2428 241.207 22.9378L243.841 18.584C247.06 20.4865 250.5 21.4378 254.122 21.4378C256.097 21.4378 257.853 20.706 257.853 19.0231C257.853 18.1084 257.524 17.4864 256.902 17.1572C256.28 16.7913 254.853 16.3157 252.585 15.7669L251.963 15.6205C249.329 14.9254 247.829 14.5229 246.073 13.6814C243.621 12.5107 242.341 10.974 242.341 8.1203C242.341 2.63234 246.914 0.0712891 252.658 0.0712891Z"
                fill="white"/>
        </svg>
        <h4>IMPRINT OF THE POETICS GMBH</h4>
      </div>

      <div class="flex max-sm:flex-col justify-between">
        <div class="flex flex-col gap-[24px]">
          <h3>App</h3>
          <ul class="flex flex-col gap-[20px]">
            <li>Overview</li>
            <li>Categories</li>
            <li>Privacy</li>
            <li>Terms</li>
            <li>EULA</li>
          </ul>
        </div>

        <div class="flex flex-col gap-[24px]">
          <h3>Journals</h3>
          <div class="flex justify-between gap-[65px]">
            <ul class="flex flex-col gap-[20px]">
              <li>Anxiety</li>
              <li>Heartbreak</li>
              <li>Identity</li>
              <li>Overthinking</li>
              <li>Stress</li>
            </ul>
            <ul class="flex flex-col gap-[20px]">
              <li>CLARITY</li>
              <li>GROWTH</li>
              <li>LOVE</li>
              <li>PEACE</li>
              <li>POWER</li>
            </ul>
          </div>
        </div>

        <div class="flex flex-col gap-[24px]">
          <h3>Shop</h3>
          <ul class="flex flex-col gap-[20px]">
            <li>Jars</li>
            <li>Cards</li>
            <li>Clothes</li>
            <li>Prints</li>
            <li>Others</li>
          </ul>
        </div>

        <div class="flex flex-col gap-[24px]">
          <h3>Letters</h3>
          <ul class="flex flex-col gap-[20px]">
            <li>Guides</li>
            <li>Feelings</li>
            <li>Journaling</li>
            <li>Relationships</li>
            <li>Others</li>
          </ul>
        </div>

        <div class="flex flex-col gap-[24px]">
          <h3>About</h3>
          <ul class="flex flex-col gap-[20px]">
            <li>Categories</li>
            <li>Q&A</li>
            <li>Privacy</li>
            <li>Terms</li>
            <li>EULA</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>

{% schema %}
{
  "name": "main index",
  "settings": []
}
{% endschema %}
